*{
    text-decoration: none;
    list-style-type: none;
      margin: 0px;
    padding: 0px;
}
body{
    background: black;
}
.next{
    display: flex;
    height: 4em;
    line-height: 4em;
    justify-content: space-between;
    background: #e4e4e4;
   
}
.logo{
   height: 63px;
   padding-left: 2em;
   width: 205px;
}
.menu{
    display: flex;
}
.menu li{
    padding-right: 2.2em;
    font-size: 20px;
}
.menu li a:hover{
    color: red;
}
.menu_one{
    background: #ebebeb;
    width: 110px;
    height: 6em;
    margin: 0px auto;
    line-height: 36px;
    position: absolute;
    top: 64px;
    right: 570px;
    display: none;
}
.menu_one li{
    text-align: center;
    padding: 0px;
}
.menu .menu_link:hover .menu_one{
    display: block;
}

.logoh{
    margin-top: 35px;
    padding-left: 10em;
}